<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Users</h1>
        </div>
    </div>
    <!-- /.row -->
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bets from Current Week
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="usersTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nick Name</th>
                                        <th>User Email</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Role</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td>1</td>
                                        <td>User1</td>
                                        <td>asdf@asdf.com</td>
                                        <td>asdf</td>
                                        <td>asdf</td>
                                        <td>User</td>
                                        <td>123456789</td>
                                        <td>asdf</td>
                                        <td>2018/5/5</td>
                                    </tr>
                                    <tr class="even">
                                        <td>2</td>
                                        <td>Agent1</td>
                                        <td>asdfg@asdfg.com</td>
                                        <td>asdfg</td>
                                        <td>asdfg</td>
                                        <td>Agent</td>
                                        <td>123456780</td>
                                        <td>asdfg</td>
                                        <td>2018/5/5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>