<div class="form-box" id="login-box">
    <div class="header">Forgot Password?</div>
    <form>
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="userid" class="form-control" placeholder="Email" />
            </div>
        </div>
        <div class="footer">

            <button class="btn bg-olive btn-block" style="color:#fff">Reset Password</button>

            <a ui-sref="login" class="text-center" style="color:#333333">Back</a>
        </div>
    </form>
</div>