<div class="form-box" id="login-box">
    <div class="header">Sign Up</div>
    <div id="register">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" ng-model="user_info.first_name"
                />
            </div>
            <div class="form-group">
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" ng-model="user_info.last_name"
                />
            </div>
            <div class="form-group">
                <input type="date" id="birthday" name="birthday" class="form-control" placeholder="Birthday" ng-model="user_info.birthday"
                />
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="User Email" ng-model="user_info.email" />
            </div>
            <div class="form-group">
                <input type="text" id="address" name="address" class="form-control" placeholder="Address" ng-model="user_info.address" />
            </div>
            <div class="form-group">
                <input type="text" id="city" name="city" class="form-control" placeholder="City" ng-model="user_info.city" />
            </div>
            <div class="form-group">
                <input type="phonenumber" id="phonenumber" name="phonenumber" class="form-control" placeholder="Phone Number" ng-model="user_info.phonenumber"
                />
            </div>
            <div class="form-group">
                <input type="text" id="id" name="id" class="form-control" placeholder="User Id" ng-model="user_info.id" />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="user_info.password"
                />
            </div>
            <div class="form-group">
                <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Retype password" ng-model="user_info.password_confirm"
                />
            </div>
        </div>
        <div class="footer">

            <button type="submit" class="btn bg-olive btn-block" style="color:#fff" ng-click="onRegister()">Sign me up</button>

            <a ui-sref="login" class="text-center" style="color:#333">I already have a membership</a>
        </div>
    </div>

</div>