<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="{{bet_cnt}}" size="4" comments="Total Bets" colour="primary" type="thumbs-up"></stats>
        <stats number="{{agent_cnt}}" size="4" comments="Total Agents" colour="red" type="smile-o"></stats>
        <stats number="{{terminal_cnt}}" size="4" comments="Total Terminals" colour="yellow" type="print"></stats>

    </div>

    <!-- /.panel -->
</div>